In [10]:
from pandas import (
    read_excel,
    read_csv,
    DataFrame,
    merge,
)
from numpy import (
    std,
)
from pandas_read_xml import (
    read_xml,
    read_xml_as_dataframe,
    auto_separate_tables,
    auto_flatten,
)

In [6]:
df = read_xml('players_list_xml_foa.xml')

In [7]:
df.head()

                                              playerslist
player  [{'fideid': '10688862', 'name': 'A Abdel Maabo...

In [17]:
df2 = DataFrame(df['playerslist']['player'])

In [18]:
df2.head()

,fideid,name,country,sex,title,w_title,o_title,foa_title,rating,games,k,rapid_rating,rapid_games,rapid_k,blitz_rating,blitz_games,blitz_k,birthday,flag
0,10688862,"A Abdel Maabod, Hoda",EGY,F,None,None,None,None,None,None,None,None,None,None,None,None,None,2009,w
1,10224084,"A B M Hasibuzzaman, Tapan",BAN,M,None,None,None,None,None,None,None,None,None,None,None,None,None,1977,None
2,10245154,"A B M Jobair, Hossain",BAN,M,None,None,None,None,None,None,None,1599,0,20,None,None,None,1998,None
3,10243054,"A B M Mustakim, Chowdhury",BAN,M,None,None,None,None,None,None,None,None,None,None,None,None,None,2013,None
4,25121731,A C J John,IND,M,None,None,None,None,1063,0,40,None,None,None,None,None,None,1987,None

In [16]:
type(df['playerslist']['player'])

list

In [19]:
df2.to_csv('ratings_fide_november_2020.csv', index=False)